//Importação dos estilos padrão do documento
@import "../abstract/root";

$hight__cards-work: 65px;
$b-radius__cards-work: 15px;

@mixin styleCardWork($color) {
    border-left: 10px solid $color
}

@mixin styleHourWork($color) {
    width: 100%;
    max-width: 65px;
    height: $hight__cards-work;
    border-radius: $b-radius__cards-work;
    background-color: $color;
    flex-shrink: 0;

}

//Estilização do elemento principal que lista as atividades cadastradas
main{
    width: 100%;
    height: 75%;

    //Estilização do cabeçalho que contem a label hotarioos e os botões que selecionam o dia
    .main__header{
        display: flex;
        justify-content: space-around;

        width: 100%;
        height: 10%;

        //Estilização da label horario no cabeçalho do container das atividades
        .main-heder__hour{
            height: calc(100% + 15px);
            width: 6.5%;
            padding: 1.5% 1% ;
            font-size: 1.3vw;

            box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
            border-radius: 10px;
        }
        
        //Estilização dos botões de selecionar o dia da semana
        .main-header__container--days{
            display: flex;
            width: 90%;
            height: 100%;
    
            display: flex;
            justify-content: space-evenly;


            .btn-days{
                @include style__btn--days;
                width: 12%;
                height: 60%;
            }

            .selected{
                transform: scale(1.25);
            }
    
            .btn__mon{
                background-color: $bg-color__mon;
            }
            .btn__tue{
                background-color: $bg-color__tue;
            }
            .btn__wed{
                background-color: $bg-color__wed;
            }
            .btn__thu{
                background-color: $bg-color__thu
            }
            .btn__fri{
                background-color: $bg-color__fri
            }
            .btn__sat{
                background-color: $bg-color__sat;
            }
            .btn__sun{
                background-color: $bg-color__sun;
            }
            
        }
    }

    .main__panel--works{

        height: 90%;
        width: 100%;

        overflow: scroll;
        transform: rotateX(180deg);

        padding-bottom: 20px;
        
        .panel-works__container-works{
            min-height: 99%;
            width: 100%;

            transform: rotateX(180deg);

            display: flex;
            justify-content: space-between;

            .panel-works__hour{
                width: 8%;
                //height: 99%;
    
                display: flex;
                flex-direction: column;
                
                gap: 10px;
                flex-shrink: 0;
    
                .mon{
                    @include styleHourWork($bg-color__mon);
                }
                .tue{
                    @include styleHourWork($bg-color__tue);
                }
                .wed {
                    @include styleHourWork($bg-color__wed);
                }
                .thu{
                    @include styleHourWork($bg-color__thu);
                }
                .fri{
                    @include styleHourWork($bg-color__fri);
                }
                .sat{
                    @include styleHourWork($bg-color__sat);
                }
                .sun{
                    @include styleHourWork($bg-color__sun);
                }
            }
            
            .container-works__content{
                height: 99%;
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 10px;

               
                .content-works__container-card{
                    display: flex;
                    gap: 20px;
                    height: $hight__cards-work;
                    flex-shrink: 0;

                    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);

                    .card-work{
                        width: 350px;
                        height: 100%;
                        border-radius: 15px;
                        border: 1px solid #FFFFFF;
                        padding-left: 5px;
                        flex-shrink: 0;

                        display:  flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        background: linear-gradient(112.83deg, 
                            rgba(255, 255, 255, 0.3444) 0%, 
                            rgba(255, 255, 255, 0.336) 110.84%);

                        .btn__remove{
                            width: 60px;
                            height: 20px;
                            
                            position: relative;
                            margin-left: 2px;
                    
                            background-color: #98031E;;
                            color: #FFFFFF;
                            border: none;
                            cursor: pointer;
                        }
                    }
                    
                    .mon{
                        @include styleCardWork($bg-color__mon)
                    }
                    .tue{
                        @include styleCardWork($bg-color__tue)
                    }
                    .wed{
                        @include styleCardWork($bg-color__wed)
                    }
                    .thu{
                        @include styleCardWork($bg-color__thu)
                    }
                    .fri{
                        @include styleCardWork($bg-color__fri)
                    }
                    .sat{
                        @include styleCardWork($bg-color__sat)
                    }
                    .sun{
                        @include styleCardWork($bg-color__sun)
                    }
                }

                
    
            }

        }
        

    }
   
}