html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input,
textarea, select {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
}

.screen {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 35px;
}
header .header__container--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 50%;
  background-color: #6688FF;
  color: #fff;
  border-radius: 0px 14px 15px 0px;
}
header .header__controls-storage {
  width: 30%;
  height: 45%;
}
header .header__controls-storage .header__btn {
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 45%;
  height: 70%;
}
header .header__controls-storage .controls-storage__btn--add {
  background-color: #2CBE82;
}
header .header__controls-storage .controls-storage__btn--remove {
  background-color: #DA2B40;
}

.work-inputs {
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.work-inputs .work__input--desc, .work-inputs .work__input--hour, .work-inputs .work__select--day {
  border: 1px solid #2CBE82;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 12px;
  height: 60%;
}
.work-inputs .work__input--desc {
  width: 40%;
}
.work-inputs .work__select--day {
  padding: 0;
}
.work-inputs .work__btn--add, .work-inputs .work__btn--remove {
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 60%;
}
.work-inputs .work__btn--add {
  background-color: #2CBE82;
}
.work-inputs .work__btn--remove {
  background-color: #DA2B40;
}

main {
  width: 100%;
  height: 65%;
}
main .main__header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 13%;
}
main .main__header .main-heder__hour {
  height: 100%;
  width: 6.5%;
  padding: 1.5% 1%;
  font-size: 1.3vw;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 10px;
}
main .main__header .main-header__container--days {
  display: flex;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}
main .main__header .main-header__container--days .btn-days {
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 9px 9px 0px 0px;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  width: 12%;
  height: 60%;
}
main .main__header .main-header__container--days .days__mon {
  background-color: #FFA246;
}
main .main__header .main-header__container--days .days__tue {
  background-color: #35E185;
}
main .main__header .main-header__container--days .days__wed {
  background-color: #6688FF;
}
main .main__header .main-header__container--days .days__thu {
  background-color: #B366FF;
}
main .main__header .main-header__container--days .days__fri {
  background-color: #66D1FF;
}
main .main__header .main-header__container--days .days__sat {
  background-color: #FF66D4;
}
main .main__header .main-header__container--days .days__sun {
  background-color: #FF6666;
}/*# sourceMappingURL=main.css.map */