@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-family : 'Poppins';


//Cor de background dos botões de adicionar e remover
$bg-color__btn--add : #2CBE82;
$bg-color__btn--remove: #DA2B40;



//Estilo padrão dos botões de adicionar e remover
@mixin style__btn--add-remove {
    border-radius: 10px;
    border: none;
    color: #fff;
    font-family: $font-family;
    cursor: pointer;
}

//Estilo padrão dos inputs
@mixin style__inputs {
    border: 1px solid #2CBE82;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 12px;
    font-family: $font-family;
}

//Estilo padrão dos botões de selecionar o dia das tarefas
@mixin style__btn--days {
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 9px 9px 0px 0px;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-family: $font-family;
}

//Cor de background de cada botão de selecionar o dia das tarefas
$bg-color__mon : #FFA246;
$bg-color__tue : #35E185;
$bg-color__wed : #6688FF;
$bg-color__thu : #B366FF;
$bg-color__fri : #66D1FF;
$bg-color__sat: #FF66D4;
$bg-color__sun: #FF6666;
$bg-color__err: #F55D5D;

//Cor do textos do container principal
$color-text__main : #333333;

//Cor do texto do card de horários
$color-text__hour: #3B3E45;

//Cor


::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(216, 211, 211);
    border-radius: 5px
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    
    background: #90949b;
    border-radius: 5px;
   
}

::-webkit-scrollbar-x{
    width: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




