html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input,
textarea, select {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
}

.screen {
  width: 90%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(216, 211, 211);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #90949b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 35px;
}
header .header__container--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 50%;
  background-color: #6688FF;
  color: #fff;
  border-radius: 0px 14px 15px 0px;
}
header .header__btn {
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 15%;
  height: 30%;
}
header .header__btn--add {
  background-color: #2CBE82;
}
header .header__btn--remove {
  background-color: #DA2B40;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(216, 211, 211);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #90949b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.work-inputs {
  width: 95%;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.work-inputs .work__input--desc, .work-inputs .work__input--hour, .work-inputs .work__select--day {
  border: 1px solid #2CBE82;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 12px;
  height: 60%;
}
.work-inputs .work__input--desc {
  width: 40%;
}
.work-inputs .work__select--day {
  padding: 0;
}
.work-inputs .work__btn--add, .work-inputs .work__btn--remove {
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 60%;
}
.work-inputs .work__btn--add {
  background-color: #2CBE82;
}
.work-inputs .work__btn--remove {
  background-color: #DA2B40;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(216, 211, 211);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #90949b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  width: 100%;
  height: 75%;
}
main .main__header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}
main .main__header .main-heder__hour {
  height: calc(100% + 15px);
  width: 6.5%;
  padding: 1.5% 1%;
  font-size: 1.3vw;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 10px;
}
main .main__header .main-header__container--days {
  display: flex;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
main .main__header .main-header__container--days .btn-days {
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 9px 9px 0px 0px;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  width: 12%;
  height: 60%;
}
main .main__header .main-header__container--days .selected {
  transform: scale(1.25);
}
main .main__header .main-header__container--days .btn__mon {
  background-color: #FFA246;
}
main .main__header .main-header__container--days .btn__tue {
  background-color: #35E185;
}
main .main__header .main-header__container--days .btn__wed {
  background-color: #6688FF;
}
main .main__header .main-header__container--days .btn__thu {
  background-color: #B366FF;
}
main .main__header .main-header__container--days .btn__fri {
  background-color: #66D1FF;
}
main .main__header .main-header__container--days .btn__sat {
  background-color: #FF66D4;
}
main .main__header .main-header__container--days .btn__sun {
  background-color: #FF6666;
}
main .main__panel--works {
  height: 90%;
  width: 100%;
  overflow: scroll;
  transform: rotateX(180deg);
  padding-bottom: 20px;
}
main .main__panel--works .panel-works__container-works {
  min-height: 99%;
  width: 100%;
  transform: rotateX(180deg);
  display: flex;
  justify-content: space-between;
}
main .main__panel--works .panel-works__container-works .panel-works__hour {
  width: 8%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .mon {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #FFA246;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .tue {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #35E185;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .wed {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #6688FF;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .thu {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #B366FF;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .fri {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #66D1FF;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .sat {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #FF66D4;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .panel-works__hour .sun {
  width: 100%;
  max-width: 65px;
  height: 65px;
  border-radius: 15px;
  background-color: #FF6666;
  flex-shrink: 0;
}
main .main__panel--works .panel-works__container-works .container-works__content {
  height: 99%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card {
  display: flex;
  gap: 20px;
  height: 65px;
  flex-shrink: 0;
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .card-work {
  width: 350px;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #FFFFFF;
  padding-left: 5px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.3444) 0%, rgba(255, 255, 255, 0.336) 110.84%);
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .card-work .btn__remove {
  width: 60px;
  height: 20px;
  position: relative;
  margin-left: 2px;
  background-color: #98031E;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .mon {
  border-left: 10px solid #FFA246;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .tue {
  border-left: 10px solid #35E185;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .wed {
  border-left: 10px solid #6688FF;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .thu {
  border-left: 10px solid #B366FF;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .fri {
  border-left: 10px solid #66D1FF;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .sat {
  border-left: 10px solid #FF66D4;
}
main .main__panel--works .panel-works__container-works .container-works__content .content-works__container-card .sun {
  border-left: 10px solid #FF6666;
}/*# sourceMappingURL=main.css.map */