@import "../styles/abstract/reset";
@import "../styles/abstract/root";



.screen{
    width: 90%;
    height: 95%;
    margin: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: $font-family;
    
}

@import "../styles/header/main-header";
@import "../styles/inputs/main-inputs";
@import "../styles/main-panel/main-panel"
